* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

main {
    background-image: url("../img/Treno.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 10%;
    height: 100vh;
    width: 100%;
    position: relative;
}

h1 {
    position: absolute;
    font-size: 3em;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -25%);
}

div {
    background-color: brown;
    border: 2px inset black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    max-width: 500px;
    min-height: 650px;
    border-radius: 20px;
    padding: 10px;
}

div ul {
    list-style: none;
    padding-right: 40px;
    padding-left: 40px;
}

div li {
    line-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    border: 2px white solid;
    border-radius: 15px;
    cursor: pointer;
}

div li:hover {
    animation: 1s ease;
    transform: scale(1.1);
}

#journey::before {
    font-family: 'Font Awesome 5 Free';
    content: '\f238';
    font-weight: 900;
    padding-right: 20px;
}

#userAge::before {
    font-family: 'Font Awesome 5 Free';
    content: '\f007';
    font-weight: 900;
    padding-right: 20px;
}

#userDiscount::before {
    font-family: 'Font Awesome 5 Free';
    content: '\f295';
    font-weight: 900;
    padding-right: 20px;
}

#ticketPrice::before {
    font-family: 'Font Awesome 5 Free';
    content: '\f02b';
    font-weight: 900;
    padding-right: 20px;
}